  <% if current_user.favo?(post) %>
    <%= link_to "/favorites/#{post.id}", method: :delete do %>
      <span class="fa fa-heart like-btn-unlike"></span>
    <% end %>
  <% else %>
    <%= link_to favorites_path(id: post.id), method: :post do %>
      <span class="fa fa-heart like-btn"></span>
    <% end %>
  <% end %>