<div class="row">
  <aside class="col-xs-4">
    <%= render 'info', user: @user %>
  </aside>
  <div class="col-xs-8">
    <%= render 'tabs', user: @user %>
    <%= render 'users', users: @users %>
  </div>
</div>